<div class="container">

    <h1>EDUCAÇÃO</h1>

    <ul>
        <li><b>Bacharelado em Ciência da Computação</b></li>
        <li><span>UNICSUL (Universidade Cruzeiro do Sul)</span></li>
        <li>Janeiro 2017 - Dezembro 2020</li>
    </ul>

    <h1>CURSOS</h1>

    <div class="containerCourses">
    
        <ul>
            <li><b>Inglês</b></li>
            <li><span>Wise Up - Nível avançado C2</span></li>
            <li>Abril 2013 – Novembro 2016</li>
        </ul>
    
        <ul>
            <li><b>Angular 9 + Spring Boot 2.2</b></li>
            <li><span>Udemy</span></li>
        </ul>
    
        <ul>
            <li><b>Integração contínua com testes, utilizando Jenkins</b></li>
            <li><span>Udemy</span></li>
        </ul>
    
        <ul>
            <li><b>Técnico de Informática</b> <i class="fa fa-discourse"></i></li>
            <li><span>Colégio Cruzeiro do Sul </span></li>
            <li>Janeiro 2014 - Dezembro 2016</li>
        </ul>
    
        <ul>
            <li><b>MySQL</b></li>
            <li><span>Curso em Vídeo</span></li>
        </ul>
    </div>
        <h1>IDIOMAS</h1>
    
        <ul>
            <li><span>Inglês avançado.</span></li>
        </ul>
    
 
</div>