<section id="contato">
  <div class="container">
      <h1>CONTATOS</h1>
      <span class="menu-spacer"></span>
      <div>
        <i class="fa fa-linkedin" aria-hidden="true"></i>
        <a mat-button href="https://www.linkedin.com/in/pauloh-alvesdacosta/" target="_blank">  Linkedin </a>
        
        <i class="fa fa-github" aria-hidden="true"></i>
        <a mat-button href="https://github.com/Paulohz/" target="_blank">  Github </a>
  
      </div>

    </div>
    <p>Direitos reservados.</p>
</section>