<div class="container">
    <p>Foco em desenvolvimento em sistemas. Apaixonado por novas tecnologias, atualmente aprendendo mais sobre JAVA
        usando Spring Boot para criação de APIs e Angular para aplicações Front-end. </p>
    <p> Também estou estudando testes
        automatizados usando Jenkins. </p>

    <h1>EXPERIÊNCIA PROFISSIONAL</h1>
    <div class="card-container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Analista de Sistemas</mat-card-title>
                <mat-card-subtitle>Na Cibernet Solutions <br> Fevereiro de 2020 - Presente</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Auxiliando suporte remoto a usuários, criação de consultas, triggers e
                    funções usando PL/SQL, desenvolvimento web usando ORACLE APEX e Javascript.
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Estagiário de TI</mat-card-title>
                <mat-card-subtitle>Na Cibernet Solutions <br> Fevereiro de 2018 - Fevereiro de 2020</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Auxiliando suporte remoto a usuários, desenvolvimento em sistema utilizando a linguagem VB6,
                    Front-end utilizando o framework Bootstrap e as tecnologias ASP.NET e Javascript, conhecimento no
                    banco de dados ORACLE.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

</div>