<div class="container">
  <h1>PORTFOLIO</h1>
  <div class="card-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>API usando Spring para cadastro de clientes</mat-card-title>
        <mat-card-subtitle>Aplicação usando Spring boot para cadastro e validações.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/springBoot.png" alt="Photo of a Spring project">
      <mat-card-content>
        <p>
          O projeto foi desenvolvido utilizando as seguintes tecnologias
        </p>
        <ul>
          <li>JAVA</li>
          <li>Spring boot</li>
          <li>MAVEN</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/Paulohz/spring-clientes" target="_blank" mat-button>Ver Projeto</a>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Front-end usando Angular consumindo API</mat-card-title>
        <mat-card-subtitle>Aplicação usando o framework Angular consumindo API em SPRING.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/angularClientes.PNG" alt="Photo of a Angular App">
      <mat-card-content>
        <p>
          O projeto foi desenvolvido utilizando as seguintes tecnologias
        </p>
        <ul>
          <li>Angular</li>
          <li>Bootstrap</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/Paulohz/angular-clientes" target="_blank" mat-button>Ver Projeto</a>
      </mat-card-actions>
    </mat-card>


    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Book Finder</mat-card-title>
        <mat-card-subtitle>Aplicação usando Angular, que usa a API Google Books.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/calculadoraReact.PNG" alt="Photo of a calculator">
      <mat-card-content>
        <p>
          O projeto foi desenvolvido utilizando as seguintes tecnologias
        </p>
        <ul>
          <li>Angular</li>
          <li>Angular Material</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://github.com/Paulohz/book-finder" target="_blank" mat-button>Ver Projeto</a>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Calculadora React </mat-card-title>
        <mat-card-subtitle>Aplicação de uma calculadora, usando o ReactJS.</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/calculadoraReact.PNG" alt="Photo of a calculator">
      <mat-card-content>
        <p>
          O projeto foi desenvolvido utilizando as seguintes tecnologias
        </p>
        <ul>
          <li>React</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://calc-reactjs.herokuapp.com/" target="_blank" mat-button>Ver Projeto</a>
      </mat-card-actions>
    </mat-card>

  </div>
</div>