<mat-toolbar color="primary" id="navbar">
  <mat-toolbar-row>
    <button mat-icon-button>
     <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon>-->
    </button>
    <h1>PAULO HENRIQUE</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button href="#aboutme"> Sobre mim </a>
      <a mat-button href="#portfolio"> Portfolio </a>
      <a mat-button href="#contacts"> Contatos </a>


    </div>
  </mat-toolbar-row>

</mat-toolbar>

<!--<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item href="#aboutme"> Sobre mim </a>
      <a mat-list-item href="#portfolio"> Portfolio </a>
      <a mat-list-item href="#contacts"> Contatos </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Fechar</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
-->
<app-aboutme id="aboutme"></app-aboutme>
<app-portfolio id="portfolio"></app-portfolio>
<app-education id="education"></app-education>
<app-contacts id="contacts"></app-contacts>

