@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  margin: 0 auto;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #282a36;
  
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  /*overflow: hidden;*/
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px auto;
  max-width: 800px;
}



.container h1 {
  margin: 15px 0;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.mat-card {
  background-color: #fff;
  padding: 0;
  max-width: 400px;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  #header {
    flex-direction: column;
    text-align: left;
    height: 100%;
  }
}